[submodule "bst/biblatex-sp-unified"]
	path = bst/biblatex-sp-unified
	url = https://github.com/semprag/biblatex-sp-unified.git
[submodule "templates/langscibook"]
	path = templates/langscibook
	url = https://github.com/langsci/langscibook.git
[submodule "templates/beamer-template"]
	path = templates/beamer-template
	url = https://github.com/timmli/beamer-template.git
